name: CI/CD Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run tests
      run: |
        # Ajoutez ici la commande pour exécuter vos tests
name: SSH to Azure VM

on: [push] # ou l'événement de votre choix

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up SSH
      run: |
        mkdir -p ~/.ssh/
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/simplon-bots_key.pem
        chmod 600 ~/.ssh/simplon-bots_key.pem
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Connect to Azure VM and run commands
      run: |
        ssh -o "StrictHostKeyChecking=no" -i ~/.ssh/simplon-bots_key.pem simplonuser@4.233.185.120 << 'EOF'
          # Les commandes que vous voulez exécuter sur la machine virtuelle Azure
          echo "Connected to Azure VM"
          # Autres commandes SSH
        EOF
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

